body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    border: solid black 5px;
}

.game-card {
    position: relative;
    width: 350px;
    height: 350px;
    cursor: pointer;
    overflow: hidden;
    border: solid green 3px;
    margin: 15px;
}

.game-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: opacity 0.3s;
}

.game-content h2 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.game-overlay p {
    font-size: 16px;
    color: black;
    text-align: left;

}

.game-content img {
    width: 100%;
    height: 91%;
    object-fit: cover;
}

.game-overlay {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #b0c4de;
    padding: 5%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    z-index: 2;
    transition: opacity 0.3s;
}
.title-game-overlay{
    font-size: 35px;
    text-align: center;

}

.game-card:hover .game-content {
    opacity: 0;
}

.game-card:hover .game-overlay {
    opacity: 1;
}

.game-content,
.game-overlay {
    transition: opacity 0.3s, background-color 0.3s;
}

.game-card:hover {
    background-color: #f1f1f1;
}